<div class="{{tabs.cards.tabCssClass}}" data-group="primary" data-tab="cards">
  <header class="header">
    {{#if isPile}}
    <span class="sort"></span>
    {{else}}
    <a class="sort" data-tooltip="CARDS.SortMode" data-action="toggleSort">
      <i class="fa-solid fa-sort fa-fw"></i>
    </a>
    {{/if}}
    <span class="name">{{localize "Name"}}</span>
    <span class="type">{{localize "CCM.CardSheet.CardType"}}</span>
    <span class="suit">{{localize "CCM.CardSheet.CardSuit"}}</span>
    <span class="value">{{localize "CCM.CardSheet.CardValue"}}</span>
    {{#if isDeck}}
    <span class="drawn">{{localize "CCM.CardSheet.CardDrawn"}}</span>
    {{/if}}
    <span class="face">{{localize "CCM.CardSheet.CardFace"}}</span>
    {{#if isDeck}}
    <a class="controls" data-tooltip="CCM.CardSheet.CreateCard" data-action="createCard">
      <i class="fa-solid fa-plus"></i>
      {{localize "CCM.CardSheet.Add"}}
    </a>
    {{/if}}
  </header>

  <ol class="cards">
    {{#each cards}}
    <li class="card" data-card-id="{{card.id}}">
      <span class="sort">
        {{#unless @root.isDeck}}
        <a data-action="playCard">
          <i class="fa-solid fa-circle-play"></i>
        </a>
        {{/unless}}
        <img src="{{card.img}}" alt="{{card.name}}">
      </span>
      <span class="name">{{card.name}}</span>
      <span class="type">{{type}}</span>
      <span class="suit">{{suit}}</span>
      <span class="value">{{value}}</span>
      {{#if @root.isDeck}}
      {{#if card.drawn}}
      <a class="drawn" data-action="recallCard" data-tooltip="CCM.CardSheet.RecallCard">
        <i class="fa-solid fa-recycle"></i>
      </a>
      {{else}}
      <span class="drawn"></span>
      {{/if}}
      {{/if}}
      <span class="face">
        <a data-action="nextFace" data-tooltip="CCM.CardSheet.NextFace" {{#unless card.hasNextFace}}disabled{{/unless}}>
          <i class="fa-solid fa-caret-up"></i>
        </a>
        <a data-action="previousFace" data-tooltip="CCM.CardSheet.PreviousFace" {{#unless card.hasPreviousFace}}disabled{{/unless}}>
          <i class="fa-solid fa-caret-down"></i>
        </a>
      </span>
      {{#if @root.isDeck}}
      <span class="controls">
        <a data-action="editCard" data-tooltip="CCM.CardSheet.EditCard">
          <i class="fa-solid fa-edit"></i>
        </a>
        <a data-action="deleteCard" data-tooltip="CCM.CardSheet.DeleteCard">
          <i class="fa-solid fa-trash"></i>
        </a>
      </span>
      {{/if}}
    </li>
    {{/each}}
  </ol>
</div>
