<p>{{localize "CARDS.PassHint"}}</p>

{{formGroup to localize=true sort=true name="to" blank=false}}
{{formGroup number localize=true name="number" value=1}}
{{formGroup how localize=true name="how"}}
{{formGroup down localize=true name="down"}}
