<figure>
  <img class="thumbnail" src="{{card.img}}" height="480">
  <figcaption>{{card.name}}</figcaption>
</figure>
<p class="hint">{{localize "CARD.PlayHint"}}</p>

{{formGroup to localize=true name="to"}}
{{formGroup down localize=true name="down"}}
