<fieldset>
  <p class="hint">{{localize "CARDS.DealHint"}}</p>

  {{formGroup to localize=true name="to" options=cards}}
  {{formGroup number localize=true name="number" value=1}}
  {{formGroup how localize=true name="how"}}
  {{formGroup down localize=true name="down"}}
</fieldset>
