<fieldset>
  <p class="hint">{{localize "CARDS.DrawHint"}}</p>

  {{formGroup from localize=true sort=true name="from"}}
  {{formGroup number localize=true name="number"}}
  {{formGroup how localize=true name="how"}}
  {{formGroup down localize=true name="down"}}
</fieldset>
