<div class="{{tabs.faces.tabCssClass}}" data-group="primary" data-tab="faces">
  <div class="form-group face">
    <label>{{localize "CARD.FIELDS.face.label"}}</label>
    <div class="form-fields">
      {{formInput face.field localize=true value=face.value choices=face.choices sort=false blank=face.blank}}
    </div>
    <button type="button" data-action="addFace" data-tooltip="CCM.CardSheet.AddFace">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>

  {{#each faces}}
  <fieldset class="faces" data-idx="{{@index}}">
    <legend>
      {{formInput name.field value=name.value placeholder=name.placeholder name=name.name}}
      <button type="button" data-action="deleteFace" data-tooltip="CCM.CardSheet.DeleteFace">
        <i class="fa-solid fa-trash"></i>
      </button>
    </legend>
    {{formGroup img.field value=img.value localize=true placeholder="icons/svg/card-joker.svg" name=img.name}}
    {{formGroup text.field value=text.value enriched=text.enriched localize=true button=true toggled=false name=text.name}}
  </fieldset>
  {{/each}}
</div>
